<span class="tw-font-bold tw-text-[#197AFF] magic-span {{customClass}} tw-pb-4 tw-pl-3 md:tw-pl-0 tw-text-[37px]">
    {{text}}
</span>

{% style %}

.{{customClass}} {
    position: relative;
}

.{{customClass}}:before {
    content: url('{{svgURL}}');
    position: absolute;
    bottom: {%if bottomMargin %}-0.3em{%else%}0{%endif%};
    left: {%if marginLeft == true %}-0.5em{%else%}0{%endif%};
}
@media (max-width: 768px){
    .{{customClass}}:before {
        content: url("{%if smolSVG %}{{smolSVG}}{%else%}{{svgURL}}{%endif%}");
        left: {%if marginLeft == true %}-0.1em{%else%}0{%endif%};
    }
}
{% endstyle %}